<html>
<head>
<meta charset="ISO-8859-1">
<title>HomePage</title>
<link rel="stylesheet" type="text/css" href="/static/mainstyle.css">
<body>
<form action='/homepage' method="POST" >
<header id="header">
			<div id="logo">
				<h1>Contact</h1>
				</header>	
<nav id="nav">
			<div class="innertube">
				<h2>USER</h2>
				<ul>
				    <li><a href="/addpage">Add Contact</a></li>	
					<li><a href="/searchpage">Search Contact</a></li>
					<li><a href="/updatepage">Update Contact</a></li>	
					<li><a href="/deletepage">Delete Contact</a></li>	
				</ul>
			</div>
		</nav>
		</form>
</body>
</html>
