<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript">

</script>
</head>
<meta charset="ISO-8859-1">
<title>UpdatePage</title>
<link rel="stylesheet" type="text/css" href="static/mainstyle.css">
<body>
<form action="/updatepage" method="POST">
<header id="header">
			<div id="logo">
				<h1>Contact</h1>
			</div>
</header>
	<nav id="nav">
			<div class="innertube">
				<h2>User</h2>
				<ul>
					<li><a href="/homepage">Home</a></li>
					<li><a href="/addpage">Add Contact</a></li>	
					<li><a href="/searchpage">Search Contact</a></li>
					<li><a href="/updatepage">Update Contact</a></li>	
					<li><a href="/deletepage">Delete Contact</a></li>
				</ul>
			</div>
</nav>
		
           <main>

<div class="tube">
<div class="form-style-2">

<div class="form-style-2-heading">Update Details Using Name</h2></div>

<label><span> Number:<font color="red">*</font></span>
<input type="number" class="input-field" name="Number" id="number" required autofocus></label>

<label><span> Name:<font color="red">*</font></span>
<input type="text" class="input-field" name="Name" id="name" required autofocus></label>

<label><span> Secondary Number:<font color="red">*</font></span>
<input type="number" class="input-field" name="SNumber" id="snumber" required autofocus></label>

<label><span> Email Id:<font color="red">*</font></span>
<input type="email" class="input-field" name="Email" id="email" required autofocus></label>

<div class="button">
<input type="submit" value="Update"/></label></div>
</div>
</div>
</main>
</body>
</html>
